{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        h1{
            color: white;
        }
        a{
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ 'auctions.body.moreDetails'|trans }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item"><b>{{ 'auctions.body.item.title'|trans }}</b>{{ auctionOneById.name }}
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'auctions.body.item.descriptions'|trans }}</b>{{ auctionOneById.description }}</li>
                    <li class="list-group-item">
                        <b>{{ 'auctions.body.item.price'|trans }}</b>{{ auctionOneById.price }}{{ 'auctions.body.item.valute'|trans }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}