{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>

    </style>
{% endblock %}
{% block body %}
    {% for auction in auctionOneById %}
        <div class="container">
            <div class="row">
                <div class="col-12" style="text-align: center">
                    <h1>{{ 'auctions.details.title'|trans }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% for auctionOne in auctionOneById %}
                        <ul class="list-group">
                            <a href="{{ path('auction_details', {'id' : auctionOne.id}) }}" class="list-group-item list-group-item-action active">
                                {{ 'auctions.body.item.nameTitle'|trans }} {{ auctionOne.id }}
                            </a>
                            <li class="list-group-item"><b>{{ 'auctions.body.item.title'|trans }}</b>{{ auctionOne.name }}</li>
                            <li class="list-group-item"><b>{{ 'auctions.body.item.descriptions'|trans }}</b>{{ auctionOne.description }}</li>
                            <li class="list-group-item"><b>{{ 'auctions.body.item.price'|trans }}</b>{{ auctionOne.price }}{{ 'auctions.body.item.valute'|trans }}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}