{% extends 'base.html.twig' %}
{% block title %}{{ 'auctions.body.title'|trans }}{% endblock %}
{% block stylesheets %}
    <style>
        a{
            text-align: center;
            color: red;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6" style="align-items: center">
                <h1>{{ 'auctions.body.title'|trans }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {% for auction in auctions %}
                    <ul class="list-group">
{#                        <li class="list-group-item active"> <a href="{{ path('auction_details', {'id': auction.id}) }}" style="text-decoration: none; color: #222222" >{{ auction.id }}</a></li>#}
                        <a href="{{ path('auction_details', {'id' : auction.id}) }}" class="list-group-item list-group-item-action active">
                            {{ auction.id }}
                        </a>
                        <li class="list-group-item"><b>{{ 'auctions.body.item.title'|trans }}</b>{{ auction.title }}</li>
                        <li class="list-group-item"><b>{{ 'auctions.body.item.descriptions'|trans }}</b>{{ auction.descriptions }}</li>
                        <li class="list-group-item"><b>{{ 'auctions.body.item.price'|trans }}</b>{{ auction.price }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}