{% extends 'base.html.twig' %}
{% block title %}{{ 'auctions.body.title'|trans }}{% endblock %}
{% block stylesheets %}
    <style>
        h1{
            color: white;
        }
        a{
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12" style="text-align: center">
                <h1>{{ 'auctions.body.title'|trans }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {% for auction in auctions %}
                    <ul class="list-group">
                        <a href="{{ path('auction_details', {'id' : auction.id}) }}" class="list-group-item list-group-item-action active">
                            {{ 'auctions.body.item.nameTitle'|trans }} {{ auction.id }}
                        </a>
                        <li class="list-group-item"><b>{{ 'auctions.body.item.title'|trans }}</b>{{ auction.name }}</li>
                        <li class="list-group-item"><b>{{ 'auctions.body.item.descriptions'|trans }}</b>{{ auction.description }}</li>
                        <li class="list-group-item"><b>{{ 'auctions.body.item.price'|trans }}</b>{{ auction.price }}{{ 'auctions.body.item.valute'|trans }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}